<section>
  <div class="header-container">
    <img class="background-img" src="assets/imgs/new-releases-cover.jpg" alt="">
    <img class="shadow-gradient" src="assets/imgs/gradient-shadow-bottom.svg" alt="">
    <span class="black-tag">feature</span>
    <h2 class="h2-title">New Releases</h2>
    <p class="p-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam, unde!
      Odit provident itaque nesciunt debitis!</p>
    <button class="btn-border-radius blue">play <img src="assets/imgs/icons/play-blue-icon.svg" alt=""></button>
  </div>
  <app-cards [items]="newSongs"></app-cards>
</section>