<section>
  <div class="header-container">
    <img class="shadow-gradient" src="assets/imgs/gradient-shadow-bottom.svg" alt="">
    <span class="black-tag">feature</span>
    <h2 class="h2-title">Best Playlist <img class="mockup-img hidden-xs" src="assets/imgs/mockup-iphone.png" alt=""></h2>
    <h3 class="h3-subtitle">of the year</h3>
    <p class="p-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam, unde!
    Odit provident itaque nesciunt debitis!</p>
    <button class="btn-border-radius green">play <img src="assets/imgs/icons/play-green-icon.svg"  alt=""></button>
  </div>
  <div class="body-container">
    <div class="link-album-module">
      <div class="album-covers">
        <img src="assets/imgs/album-cover-1.png" alt="">
        <img src="assets/imgs/album-cover-2.png" alt="">
        <img src="assets/imgs/album-cover-3.png" alt="">
      </div>
      <div class="module-info">
        <h4>New Releases</h4>
        <p>Lorem ipsum dolor sit amet conse-
        ct etur adipisicing elit. Magnam,
        unde! Odit</p>
      </div>
    </div>
    <div class="link-album-module">
      <div class="album-covers">
        <img src="assets/imgs/album-cover-1.png" alt="">
        <img src="assets/imgs/album-cover-2.png" alt="">
        <img src="assets/imgs/album-cover-3.png" alt="">
      </div>
      <div class="module-info">
        <h4>Artists</h4>
        <p>Lorem ipsum dolor sit amet conse-
        ct etur adipisicing elit. Magnam,
        unde! Odit</p>
      </div>
    </div>
  </div>
</section>