<div class="profile-container">
    <div class="avatar">
        <img src="" alt="">
        <div class="state"></div>
    </div>
    <div class="profile-info">
        <h3>Juan Perez</h3>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Esse, rem!</p>
    </div>
    <div class="stadistics">
        <div class="followers">
            <span>182</span>
            <p>followers</p>
        </div>
        <div class="listeners">
            <span>182</span>
            <p>listeners</p>
        </div>
    </div>
    <div class="recommended-container">
        <h4>Recommend</h4>
        <div class="artist-recommended">
            <div class="img-thumbnail">
                <img src="assets/imgs/artist-recommended.png" alt="">
            </div>
            <div class="artis-info">
                <h4>Blink 182</h4>
                <p>artist</p>
            </div>
        </div>
        <div class="artist-recommended">
            <div class="img-thumbnail">
                <img src="assets/imgs/artist-recommended.png" alt="">
            </div>
            <div class="artis-info">
                <h4>Queen</h4>
                <p>artist</p>
            </div>
        </div>
    </div>
</div>